*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container
{
    width: 70%;
    margin: 0 auto;
}
.clearfix::after
{
    content: "";
    display: block;
    clear: both;
}
#header
{
    width: 100%;
    min-height: 50px;
    background-color: gray;
    float: left;
    color:rgb(240, 240, 240);
    line-height: 50px;
    padding-left: 2%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    border: 1px solid rgba(0,0,0,.125);
}
#nav
{
    float: right;
    width: 50%;
    min-width: 50px;
}
#nav a{
    text-decoration: none;
    width: 65px;
    margin: 0 20px;
    float: right;
    color: black;
    transition: 0.2s;
    color: rgb(240, 240, 240);
}
#nav a:hover{
    color: rgb(70, 70, 70);
}

/*  */

#main{
    width: 100%;
    min-height: 100px;
    text-align: center;
    /* line-height: 50px; */
    padding: 10px;
    height: auto;
}
#article
{
    margin-top: 50px;
    margin-right: 10px;
    float: left;
    width: 40%;
    height: auto;
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0,0,0,.125);
}
img{
    margin-bottom: 10%;
    max-width: 50%;
    height: auto;
    border-radius: 50%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
#nama, #email
{
    margin-bottom: 5px;
}
.button
{
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
}
#aside
{
    margin-top: 50px;
    float: right;
    width: 59%;
    height: auto;
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0,0,0,.125);
}
.table
{
    margin-top: 15px;
    text-align: left;
}
.table td 
{
    width: 100%;
    padding: 5px;
}

/*  */

#footer
{
    clear: left;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 70%;
    height: 50px;   
    line-height: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 2px solid rgba(0,0,0,.125);

}